h1 {
	text-align: center;
	color: #47BDDE;
	font-family: sans-serif;
}

h4 {
	text-align: center;
	font-family: sans-serif;
}

div {
	height: 900px;
	width: 900px;
	background-color: grey;
	margin: auto;
	border-radius: 6px;
	word-wrap: break-word;
}

p {
	font-family: sans-serif;
}

#titlebar {
	height: 100px;
	width: 1000px;
	margin: auto;
	border-radius: 6px;
}