#title {
	color: #d19019;
	text-align: center;
	width: 400px;
	margin: auto;
}

div {
	border-radius: 10px;
	background-color: #e0cf79;
	padding: 5px;
	margin: 10px;
}

#blurb {
	text-align: center;
	font-weight: bold;
}

#plans {
	text-align: center;
	width: 900px;
	margin-bottom: 5px;
	margin: auto;
}

a {
	display: inline; 
}

#navbar {
	float: left;
}

#signup {
	width: 900px;
	margin-top: 5px;
	margin:  10px auto;
}

form > p {
	display: inline;
}

#submit {
	display: inline;
}

h2 {
	text-align: center;
}

#form {
	margin: 0 auto;
}
