/*bottom bar*/

/*full width bottom bar container*/
#bottombarfull {
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #666666;
  bottom: 0px;
}

/*left and right bar segments*/
span {
  padding-left: 27px;
}

#bottombarleft {
  position: relative;
  top: 50%;
  margin-top: -7px;
  height: 14px;
  width: 250px;
  float: left;
  margin-left: 3px;
}

#bottombarright {
  position: relative;
  top: 50%;
  margin-top: -7px;
  height: 14px;
  width: 244px;
  float: right;
}

/*content in bars*/
/*bottom bar*/
