/*center block*/

/*whole center block*/
#centerblock {

}

/*Google logo*/
#mainimage {

}

/*search block*/
input {
  box-sizing: border-box;
  width: 584px;
  height: 38px;
  border: 1px solid #d9d9d9;
}

input:focus {
  border: 1px solid #4d90fe;
}

/*search buttons*/
button[type=submit] {
  border: none;
  background-color: #f2f2f2;
  font-size: 13px;
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #757575;
  height: 36px;
  width: 135px;
  margin-left: 1px;
  margin-right: 1px;
}

button[type=submit]:hover {
  border: 1px solid grey;
  border-radius: 2px;
  color: black;
}

/*center block*/
