#img {
	margin: auto;
	width: 572px;
}

#input {
	position: relative;	

}
#searchfield {
	border: 1px solid #d9d9d9;

}

#submitbutton {
	position: relative;
}

#feelinglucky {

}

#buttons {
	width: 575px;
}
