#search {
	position: relative;
	margin: auto;
	width: 572px;
	margin-top: 200px;
}

#logo {
	margin: auto;
	width: 272px;
}

#input {
	position: relative;	
	margin-top: 20px;

}
#searchfield {
	border: 1px solid #d9d9d9;
	margin-bottom: 30px;

}

#submitbutton {
	position: absolute;
	display: inline;
	left: 130px;
}

#feelinglucky {
	position: absolute;
	display: inline;
	right: 130px;
}

#buttons {
	width: 575px;
}

#top_bar {
	position: absolute;
	width: 99%;
	top: 20px;
}

#gmail {
	position: absolute;
	display: inline;
	right: 220px;
}

#images {
	position: absolute;
	display: inline;
	right: 150px;
}

#apps {
	position: absolute;
	display: inline;
	right: 100px;
}

#sign_in {
	position: absolute;
	display: inline;
	right: 30px;
}

#bottom-bar {
	position: absolute;
	left: 0;
	right: 0;
	height: 40px;
	border-top: 1px solid #E4E4E4;
	bottom: 1px;
	background-color: #F2F2F2;
    font-size: 13px;
	font-family: arial sans-serif;
	color: #666666;
}

#left-bar {
	position: absolute;
	margin: auto;
	width: 400px;
	height: 40px;
}

#right-bar {
	position: absolute;
	right: 1px;
	width: 250px;
	height: 40px;
}

#advertising {
	position: static;
	display: inline-block;
	margin: auto;
	padding-left: 27px;
	width: 63px;
	height: 40px;
	vertical-align: middle;
	display: table-cell;
}

#buisness {
	position: static;
	display: inline-block;
	padding-left: 27px;
	width: 63px;
	height: 40px;
	vertical-align: middle;
	display: table-cell;
}

#about {
	position: static;
	display: inline-block;
	padding-left: 27px;
	width: 63px;
	height: 40px;
	vertical-align: middle;
	display: table-cell;
}

#privacy {
	position: static;
	display: inline-block;
	padding-right: 27px;
	height: 40px;
	width: 63px;
	vertical-align: middle;
	display: table-cell;

}

#terms {
	position: static;
	display: inline-block;
	padding-right: 27px;
	height: 40px;
	width: 63px;
	vertical-align: middle;
	display: table-cell;

}

#settings {
	position: static;
	display: inline-block;
	padding-right: 27px;
	height: 40px;
	width: 63px;
	vertical-align: middle;
	display: table-cell;

}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#bottom-bar a:link {
	color: #666666;
}


