#search {
	position: relative;
	margin: auto;
	width: 572px;
	margin-top: 200px;
}

#logo {
	margin: auto;
	width: 272px;
}

#input {
	position: relative;	
	margin-top: 20px;

}
#searchfield {
	border: 1px solid #d9d9d9;
	margin-bottom: 30px;

}

#submitbutton {
	position: absolute;
	display: inline;
	left: 130px;
}

#feelinglucky {
	position: absolute;
	display: inline;
	right: 130px;
}

#buttons {
	width: 575px;
}

#top_bar {
	position: absolute;
	width: 100%;
	top: 10px;
}

#gmail {

}

#images {

}

#apps {

}

#sign_in {

}





