#search {
	position: relative;
	margin: auto;
	width: 572px;
	margin-top: 200px;
}

#logo {
	margin: auto;
	width: 272px;
}

#input {
	position: relative;	
	margin-top: 20px;

}
#searchfield {
	border: 1px solid #d9d9d9;
	margin-bottom: 30px;

}

#submitbutton {
	position: relative;
	display: inline;
}

#feelinglucky {
	position: absolute;
	display: inline;
}

#buttons {
	width: 575px;
}
