#search {
	position: relative;
	margin: auto;
	width: 572px;
	margin-top: 200px;
}

#logo {
	margin: auto;
	width: 272px;
}

#input {
	position: relative;	
	margin-top: 20px;

}
#searchfield {
	border: 1px solid #d9d9d9;
	margin-bottom: 30px;

}

#submitbutton {
	position: absolute;
	display: inline;
	left: 130px;
}

#feelinglucky {
	position: absolute;
	display: inline;
	right: 130px;
}

#buttons {
	width: 575px;
}

#top_bar {
	position: absolute;
	width: 99%;
	top: 10px;
}

#gmail {
	position: absolute;
	display: inline;
	right: 220px;
}

#images {
	position: absolute;
	display: inline;
	right: 150px;
}

#apps {
	position: absolute;
	display: inline;
	right: 100px;
}

#sign_in {
	position: absolute;
	display: inline;
	right: 30px;
}

#bottom-bar {
	position: absolute;
	width: 99%;
	height: 40px;
	border-top: 1px solid #E4E4E4;
	bottom: 1px;
	background-color: #F2F2F2;
}

#left-bar {
	position: absolute;
	left: 1px;
	margin: auto;
	width: 400px;
	height: 40px;
}

#right-bar {
	position: absolute;
	right: 1px;
	width: 400px;
	height: 40px;
}

#advertising {
	position: absolute;
	display: inline;
	left: 5px;
	margin: auto;
}

#buisness {
	position: absolute;
	display: inline;
	left: 100px;
}

#about {
	position: absolute;
	display: inline;
	left: 190px;
}

#privacy {
	position: absolute;
	display: inline;
	right: 90px;
}

#terms {
	position: absolute;
	display: inline;
	right: 20px;
}

#settings {
	position: absolute;
	display: inline;
}

a:link {
	text-decoration: none;
}



