/*borders on/off
#topbarfield * {
	border: 2px solid black;
} */ 

/*main top bar container*/
#topbarfield {
	height: 40px;
	width: 100%;
}

/*segment inside the top bar container*/
#topbarsegment {
	/*to center div: set parent element to position: relative*/
	position: relative;
	width: 400px;
	height: 40px;
	float: right;
}

/*units inside the top bar segment*/
#unit1 {

}

#unit2 {


}

#unit3 {

}

/*to center div: set child to position: absolute; top: 50%; margin-top: half child elements height*/
#piclink {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right: 118px;
	height: 24px;
	width: 28px;
	display: inline-block;
}

#button {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	right: 28px;
	width: 80px;
	height: 40px;
	display: inline-block;
}

/*style for the links*/
a:link {

}

a:hover {

}

/*centering the spans*/
#topbarsegment > span {
	/*to center span: set parent of span to line-height: height of container*/
	line-height: 40px;
}
