/*borders on/off
#topbarfield * {
	border: 2px solid black;
} */

/*main top bar container*/
#topbarfield {
	height: 30px;
	width: 100%;
	margin-top: 10px;
}

/*segment inside the top bar container*/
#topbarsegment {
	/*to center div: set parent element to position: relative*/
	position: relative;
	width: 400px;
	height: 30px;
	float: right;
}

/*units inside the top bar segment*/
#gmail {
	position: absolute;
	right: 214px;
}

#images {
	position: absolute;
	right: 156px;
}

/*to center div: set child to position: absolute; top: 50%; margin-top: half child elements height*/
#piclink {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right: 118px;
	height: 24px;
	width: 28px;
	display: inline-block;
}

#topbarsegment > a {
	font-size: 13px;
	color: white;
	font-weight: 700;
	font-family: arial, sans-serif;
}

#button {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	right: 28px;
	width: 80px;
	height: 30px;
	display: inline-block;
	background-color: #4683EA;
}

/*style for the links*/
a:link {
	text-decoration: none;
	color: #222222;
}

a:hover {
	text-decoration: underline;
	color: #222222;
}

/*centering the spans*/
#topbarsegment > span {
	/*to center span: set parent of span to line-height: height of container*/
	line-height: 30px;
	font-size: 13px;
	font-family: arial, sans-serif;
}
