/*top bar*/
/*main top bar container*/
#topbarfield {
	height: 30px;
	width: 100%;
	margin-top: 16px;
}

/*segment inside the top bar container*/
#topbarsegment {
	/*to center div: set parent element to position: relative*/
	position: relative;
	width: 400px;
	height: 30px;
	float: right;
}

/*units inside the top bar segment*/
#gmail {
	position: absolute;
	right: 210px;
}

#images {
	position: absolute;
	right: 153px;
}

/*to center div: set child to position: absolute; top: 50%; margin-top: half child elements height*/
#piclink {
	position: absolute;
	top: 50%;
	margin-top: -13px;
	right: 106px;
	height: 30px;
	width: 30px;
	display: inline-block;
}

/*font style for the Sign In text div*/
#topbarsegment > a > div {
	font-size: 13px;
	color: white;
	font-weight: 700;
	font-family: arial, sans-serif;
	text-align: center;
}

#button{
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: 22px;
	width: 71px;
	height: 30px;
	display: inline-block;
	background-color: #4683EA;
	line-height: 30px; /*vertically centers the Sign In text span*/
}

/*style for the links*/
a:link {
	text-decoration: none;
	color: #222222;
}

a:hover {
	text-decoration: underline;
	color: #222222;
}

/*centering the gmail and images spans*/
#topbarsegment > span {
	/*to center span: set parent of span to line-height: height of container*/
	line-height: 30px;
	font-size: 13px;
	font-family: arial, sans-serif;
}
/*top bar*/
